# Git will always convert line endings to LF on checkout.
# You should use this for files that must keep LF endings, even on Windows.
# See https://help.github.com/articles/dealing-with-line-endings/
# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

## SOURCE CODE
*.css      text
*.html     text
*.js       text
*.json     text
*.jsx      text
*.php      text
*.scss     text

## DOCUMENTATION
*.markdown   text
*.md         text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
INSTALL      text
license      text
LICENSE      text
readme       text
README     	 text
TODO         text

## GRAPHICS
*.gif  binary
*.ico  binary
*.jpg  binary
*.jpeg binary
*.pdf  binary
*.png  binary
*.svg  text
*.svgz binary
*.webp binary

## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary

## DO NOT EXPORT
*.map				export-ignore
gulpfile.js 		export-ignore
.git				export-ignore
.gitignore			export-ignore
.gitattributes		export-ignore
/src				export-ignore
composer.json		export-ignore
composer.lock		export-ignore
yarn.lock			export-ignore
.editorconfig		export-ignore
